<?xml version="1.0"?>

<!--
  =============================================================================
  cos_rsvisual/urdf/elfin5_rs_d435i.urdf.xacro

  本文件同步自 elfin5_ros2_gazebo/urdf/elfin5.urdf.xacro(完整拷贝),
  末尾追加了 RealSense D435i 相机模型(link/joint + gazebo 深度相机插件)。
  上游(elfin5_ros2_gazebo)URDF 若有变更,需手动同步本文件的拷贝部分。

  与原版差异:
    1) 末尾追加 camera_link / camera_depth_frame / camera_depth_optical_frame
       及 camera_mount_joint(眼在手上外参入口)。
    2) 末尾追加 gazebo 深度相机插件(libgazebo_ros_camera.so, type="depth")。
    3) 新增 xacro arg: mount_xyz / mount_rpy(手眼标定外参)。

  仿真 launch 中务必传: use_real_hardware:=false use_fake_hardware:=false
  =============================================================================
-->

<robot name="elfin5" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="use_real_hardware" default="true" />
  <xacro:arg name="use_fake_hardware" default="false" />

  <!-- Load TRANSMISSION file: -->
  <xacro:include filename="$(find elfin5_ros2_gazebo)/urdf/elfin5_transmission.xacro" />
  <!-- Load GAZEBO/ROS2_CONTROL file: -->
  <xacro:include filename="$(find elfin5_ros2_gazebo)/urdf/elfin5_gazebo.xacro" />
 
  <xacro:property name="PI" value="3.1415926535897931"/>
  
  <xacro:property name="density" value="3.09"/>
    
    <!-- TRANSMISSION: -->
    <xacro:elfin5_transmission />
    <!-- GAZEBO - ROS2_CONTROL: -->
    <xacro:elfin5_gazebo  
    use_real_hardware="$(arg use_real_hardware)" 
    use_fake_hardware="$(arg use_fake_hardware)"/>
    
  <link name="world"/>
  
  <joint name="world_base" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="elfin_base_link" />
  </joint>
  
  <link name="elfin_base_link"/>
  
  <joint name="elfin_base_joint" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="elfin_base_link" />
    <child
      link="elfin_base" />
  </joint>
  
   <link
    name="elfin_base">
    <inertial>
      <origin
        xyz="-0.000763828012447035 5.78534761012293E-06 0.0304416599943415"
        rpy="0 0 0" />
      <mass
        value="0.970239706050223" />
      <inertia
        ixx="0.00157696245666968"
        ixy="1.16231027909909E-07"
        ixz="-2.16838482265701E-05"
        iyy="0.00144565496079807"
        iyz="-6.75796232258151E-08"
        izz="0.00236570554301517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="elfin_link1">
    <inertial>
      <origin
        xyz="2.74291280953301E-06 -0.00431106908088009 -0.0357493000420958"
        rpy="0 0 0" />
      <mass
        value="3.25128102774055" />
      <inertia
        ixx="0.0131139015939654"
        ixy="1.53830686193548E-07"
        ixz="4.14641049481189E-07"
        iyy="0.0123861178713592"
        iyz="0.00240614664669851"
        izz="0.00712273876232631" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.22"
      rpy="0 0 0" />
    <parent
      link="elfin_base" />
    <child
      link="elfin_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="420"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_link2">
    <inertial>
      <origin
        xyz="-4.61141935425826E-06 0.1591743105703 0.127676233728645"
        rpy="0 0 0" />
      <mass
        value="2.80251415493372" />
      <inertia
        ixx="0.0472004127058612"
        ixy="-3.78127975165949E-06"
        ixz="2.96484076164975E-07"
        iyy="0.00279445987467469"
        iyz="0.0015424585085081"
        izz="0.0478757132444163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="elfin_link1" />
    <child
      link="elfin_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.35"
      upper="2.35"
      effort="420"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_link3">
    <inertial>
      <origin
        xyz="0.0290082764878195 8.22344830496747E-06 -0.00396673307172194"
        rpy="0 0 0" />
      <mass
        value="1.985771603253" />
      <inertia
        ixx="0.00325219349943707"
        ixy="-2.70050556242264E-07"
        ixz="-0.00114506857457687"
        iyy="0.00594604197825752"
        iyz="7.00611683851371E-07"
        izz="0.00528005541994704" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint3"
    type="revolute">
    <origin
      xyz="0 0.38 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="elfin_link2" />
    <child
      link="elfin_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="200"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_link4">
    <inertial>
      <origin
        xyz="-3.37325284266827E-05 -0.059246634833044 0.248712399920572"
        rpy="0 0 0" />
      <mass
        value="1.3966627675706" />
      <inertia
        ixx="0.0146417786566676"
        ixy="-1.72570245202171E-06"
        ixz="6.27583250069289E-06"
        iyy="0.0128389262643824"
        iyz="0.00385606704922265"
        izz="0.00311370666742545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="elfin_link3" />
    <child
      link="elfin_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="200"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_link5">
    <inertial>
      <origin
        xyz="-1.05027528186624E-06 -0.0219935502961173 -0.00313939707023243"
        rpy="0 0 0" />
      <mass
        value="1.18717984150567" />
      <inertia
        ixx="0.00223607662459616"
        ixy="7.69598109537055E-08"
        ixz="1.87231135997621E-07"
        iyy="0.00135159849023817"
        iyz="0.000420977801546637"
        izz="0.00193236500760183" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint5"
    type="revolute">
    <origin
      xyz="0 0 0.42"
      rpy="-1.5708 0 0" />
    <parent
      link="elfin_link4" />
    <child
      link="elfin_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.56"
      upper="2.56"
      effort="69"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_link6">
    <inertial>
      <origin
        xyz="-1.59841620089968E-05 -0.00034491847744483 0.128921909891105"
        rpy="0 0 0" />
      <mass
        value="0.281755133133711" />
      <inertia
        ixx="0.000141506869040406"
        ixy="-3.26513406770626E-08"
        ixz="7.38940963331507E-08"
        iyy="0.000144516478405932"
        iyz="-8.86072913302242E-08"
        izz="0.000252050888055838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find elfin_description)/meshes/elfin5/elfin_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="elfin_link5" />
    <child
      link="elfin_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="69"
      velocity="1.57" />
  </joint>
  <link
    name="elfin_end_link"/>
  <joint
    name="elfin_end_joint"
    type="fixed">
    <origin
      xyz="0 0 0.1565"
      rpy="0 0 0" />
    <parent
      link="elfin_link6" />
    <child
      link="elfin_end_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <link name="elfin_dummy_gripper"/>
  
  <joint name="elfin_dummy_joint" type="fixed">
    <origin
      xyz="0 -0.0935 0"
      rpy="${PI/2} ${PI/2} 0" />
    <parent
      link="elfin_link6" />
    <child
      link="elfin_dummy_gripper" />
  </joint>

  <!-- ================= D435i 相机(眼在手上, cos_rsvisual 追加) ================= -->
  <!-- 眼在手上的手眼标定外参入口:
       真机做完手眼标定后, 改 launch 传入的 mount_xyz / mount_rpy 即可,
       不必改动本文件其余部分。默认值为相机装在 elfin_end_link 正上方 2cm。 -->
  <xacro:arg name="mount_xyz" default="0 0 0.02" />
  <xacro:arg name="mount_rpy" default="0 0 0" />

  <!-- 简化 D435i 模型: box 0.025(x) x 0.09(y) x 0.025(z), 质量 0.072kg。
       不依赖 realsense2_description, 仿真足够用。 -->
  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.072" />
      <!-- 均匀长方体惯性: ixx=m/12*(y^2+z^2), iyy=m/12*(x^2+z^2), izz=m/12*(x^2+y^2) -->
      <inertia ixx="5.235e-05" ixy="0.0" ixz="0.0"
               iyy="7.5e-06" iyz="0.0" izz="5.235e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025" />
      </geometry>
    </collision>
  </link>

  <!-- 相机固定安装到末端法兰 -->
  <joint name="camera_mount_joint" type="fixed">
    <origin xyz="$(arg mount_xyz)" rpy="$(arg mount_rpy)" />
    <parent link="elfin_end_link" />
    <child link="camera_link" />
  </joint>

  <!-- 深度帧(物理帧) -->
  <link name="camera_depth_frame"/>
  <joint name="camera_depth_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="camera_link" />
    <child link="camera_depth_frame" />
  </joint>

  <!-- 标准 optical 帧: z 轴朝镜头前方, x 右 y 下 -->
  <link name="camera_depth_optical_frame"/>
  <joint name="camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    <parent link="camera_depth_frame" />
    <child link="camera_depth_optical_frame" />
  </joint>

  <!-- gazebo 深度相机插件 (ros-foxy-gazebo-plugins 提供 libgazebo_ros_camera.so)。
       foxy 插件话题命名规则: <namespace>/<camera_name>/...
       此处 namespace=/, camera_name=camera, 实际话题:
         深度图(32FC1, 单位米): /camera/depth/image_raw
         深度相机内参:          /camera/depth/camera_info
         点云:                  /camera/points
       点云与深度图 frame_id 均为 camera_depth_optical_frame。
       注意: 仿真深度图是 32FC1(米), 真机 realsense 是 16UC1(毫米),
       cos_rsvisual 的检测组件两种编码都支持。 -->
  <gazebo reference="camera_depth_frame">
    <sensor name="camera_depth" type="depth">
      <always_on>true</always_on>
      <update_rate>15</update_rate>
      <visualize>false</visualize>
      <camera name="camera_depth_camera">
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.3</near>
          <far>5.0</far>
        </clip>
      </camera>
      <plugin name="camera_depth_controller" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>/</namespace>
        </ros>
        <camera_name>camera</camera_name>
        <frame_name>camera_depth_optical_frame</frame_name>
        <min_depth>0.3</min_depth>
        <max_depth>5.0</max_depth>
        <pointCloudCutoff>0.3</pointCloudCutoff>
      </plugin>
    </sensor>
  </gazebo>

</robot>